.outline .devsite-header,
.outline .devsite-header-background,
.outline .devsite-landing-row.devsite-landing-row-cta {
  background: #183729;
}
.outline .devsite-product-description,
.outline devsite-header devsite-tabs.lower-tabs a,
.outline devsite-header devsite-tabs.lower-tabs a:active,
.outline devsite-header devsite-tabs.lower-tabs .devsite-active > a,
.outline devsite-header devsite-tabs.lower-tabs .devsite-active > a:active,
.outline devsite-header devsite-tabs.lower-tabs .devsite-active > a:hover,
.outline devsite-header devsite-tabs.lower-tabs a:hover {
  color: #f7f7f7;
}

.outline devsite-header devsite-tabs.lower-tabs > .devsite-tabs-wrapper > tab.devsite-active > a:after,
.outline devsite-header devsite-tabs.lower-tabs > .devsite-tabs-wrapper > tab > a:hover:after  {
  border-color: #f7f7f7;
}

.outline h3 > a,
.outline .button,
.outline .button:active {
  color: #183729;
}

.outline .button:hover {
  background: #f7f7f7;
  color: #183729;
}

.outline .button.button-dark,
.outline .button.button-dark:active {
  background: #183729;
  color: white;
}

.outline .button.button-dark:hover {
  background: #f7f7f7;
  color: #183729;
  border-color: #183729;
}